In [2]:
#import library array 

import array as arr
arr_int = arr.array('i',[10,10,10,10,10,10,10,10,10,10])

print(arr_int)

array('i', [10, 10, 10, 10, 10, 10, 10, 10, 10, 10])

In [13]:
harga_jual = 1000
keuntungan = 100000
jumlah_tahu_terjual = 20
print(harga_jual)

1000

In [14]:
harga_jual = 1000
keuntungan = 100000
jumlah_tahu_terjual = 20
print(keuntungan)

100000

In [15]:
harga_jual = 1000
keuntungan = 100000
jumlah_tahu_terjual = 20
print(jumlah_tahu_terjual)

20

In [16]:
#import library array 

import array as arr
arr_int = arr.array('i',[0,0,10,10,10,10,10,10,10,10])

print(arr_int)

harga_jual = 1000
keuntungan = 100000
jumlah_tahu_terjual = 20
sisa_tahu = 80
print(sisa_tahu)

harga_beli = 20000
keuntungan = 100000
jumlah_tahu_terjual = 20
sisa_tahu = 80
print(harga_beli)

harga_beli = 20000
keuntungan = 100000
jumlah_tahu_terjual = 20
sisa_tahu = 80
uang_kembali = 80000
print(uang_kembali)

array('i', [0, 0, 10, 10, 10, 10, 10, 10, 10, 10])
80
20000
80000